/* Couleurs : 


Polices : 




*/


/* PROPRIETES GENERALES */

*{
	box-sizing: border-box;
}

/* Le jeu prend exactement la totalité du viewport en hauteur et largeur */
 body{
 	margin : 0;
 	display: flex;
 	flex-direction: column;
 	min-height: 100vh;
 	min-width: 100vw;
 }

.hidden{
	display : none;
}


/* MAIN*/

/* 1. Game board Section */
/* 1.1 Game Timer */
/* 1.2 Start Countdown */
/* 1.3. Result Screen */
/* 1.4. Quit Screen */
/* 2. Game Info Section */
/* 2.1 Player Info */
/* 2.1.1 Nav Footer*/
nav > ul > li {
	display: inline-block;
}
.innerMenu{
	display: none;
}
nav ul .onClickPlayersMenu:hover .innerMenu{
	display: block;
}

/* Footer */
